#ManagementBody
{
    background-image: url('../img/background.png');
    background-repeat:no-repeat;
    background-size:cover;
}

#MainNav
{
    background-image: url('../img/nav bar.png');
    background-repeat:no-repeat;
    background-size:cover;
}